<div class="modal d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles de la Reserva</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <p><strong>ID:</strong> {{ reservation.id }}</p>
            <p><strong>Huésped:</strong> {{ reservation.guest.name }}</p>
            <p><strong>Telefono Contacto:</strong> {{ reservation.guest.phoneNumber }}</p>
            <p><strong>Email:</strong> {{ reservation.guest.email }}</p>
            <p><strong>Hotel:</strong> {{ reservation.hotel?.name }}</p>
            <p><strong>Habitación:</strong> {{ reservation.room?.type }}</p>
            <p><strong>Precio:</strong> {{ reservation.room?.price | currency:'USD' }}</p>
            <p><strong>Ubicación:</strong> {{ reservation.room?.location }}</p>
            <p><strong>Check-in:</strong> {{ reservation.checkIn | date:'fullDate' }}</p>
            <p><strong>Check-out:</strong> {{ reservation.checkOut | date:'fullDate' }}</p>
            <p><strong>Total de la Reserva:</strong> {{ calculateTotal(reservation) | currency:'USD' }}</p>
            <p><strong>Contacto de Emergencia:</strong> {{ reservation.emergencyContact.name }}</p>
            <p><strong>Telefono Contacto Emergencia:</strong> {{ reservation.emergencyContact.phoneNumber }}</p>
      </div>
    </div>
  </div>
</div>
